#----------Energy Source----------
source.type=photovoltaic
source.name=Panasonic-AM1816
source.outputpower.lookuptable=/home/user/contiki-2.7/tools/cooja/apps/senseh/config/EnergySources/Panasonic-AM1816.lut
source.num=1
#source.maxoutputpower=????

#--Environmental Data for Energy Source---
source.environment.tracefile.path=/home/user/contiki-2.7/tools/cooja/apps/senseh/config/EnergySources/tunnel/
source.environment.sampleinterval=29.296875
source.environment.tracefile.format.delimiter=\t
source.environment.tracefile.format.columnno=2

#----------Harvester--------------
harvester.name=Multi-Harvester
harvester.efficiency.lookuptable=/home/user/contiki-2.7/tools/cooja/apps/senseh/config/EnergyHarvesters/Multiharvester.lut

#----------Energy Storage---------
storage.type=battery
storage.name=Ni-Mh
storage.soc.lookuptable=/home/user/contiki-2.7/tools/cooja/apps/senseh/config/EnergyStorages/Ni-Mh.lut
storage.num=2

#----------Battery---------
battery.capacity=2500
battery.nominalvoltage=1.2
battery.minoperatingvoltage=1
